<div class="form-group dup-form-grp indent-1 genre">

    <label>Album Genre:</label>

    <input   type="text"
             required
             class="form-control"
             placeholder="Album Genre"
             name="package[album][genres][{{count}}]"
             value="Trance-00{{count}} XXX"
          >
</div>

