<div class="form-group dup-form-grp indent-1 track-genre">
    <input   type="text"
             required
             class="form-control"
             placeholder="Album Genre"
             name="package[album][tracks][{{track_count}}][genres][{{count}}]"
             value="House-11{{count}} XXX"
          >
</div>

