

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.indent-0{
    padding-left: 0px;
}

.indent-1{
    padding-left: 0px;
}

.indent-2{
    padding-left: 10px;
}

.forms-group{
    background-color: lightblue;
    padding: 10px;
}











