

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.indent-0{
    padding-left: 0px;
}

.indent-1{
    padding-left: 0px;
}

.indent-2{
    padding-left: 10px;
}

.forms-group{
    background-color: lightblue;
    padding: 10px;
}

.dup-form-grp{
    width: 95%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    /*line-height: 1.428571429;*/
    border-radius: 15px;
}





